html {
    --bg-color: #121313;
    --y-bg-accent-color: #212116;
    --y-text-color: #c3ba7b;
    --g-bg-accent-color: #16211a;
    --g-text-color: #7bc380;
    --green-color: #62af5b;
    --yellow-color: #d8b42f;
    --border-color: #ffffff15;
    --thumb-color: #343434;
    --error-color: #9f3333;
    --cell-color: #181818;
    --cell-border-color: #212121;
    --key-shadow-color: #0f0f0f;
    background-color: var(--bg-color);
    color: #ffffffe8;
    overflow-y: auto;
}

header {
    height: 65px;
    border-bottom: 1px solid var(--border-color);
    padding: 10px 20px;
}

.field {
    padding: 30px 20px;
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
    align-items: center;
    gap: 40px;
}

#keyboard {
    display: none;
}

a {
    display: none;
}

.cell {
    width: 50px;
    height: 50px;
}

#progress-bar {
    height: 350px;
}

#about {
    font-size: 24px;
}

#description {
    font-size: 14px;
}

@keyframes progress1 {
    0% {
        top: -35%;
        bottom: 100%;
    }

    60% {
        top: 100%;
        bottom: -90%;
    }

    100% {
        top: 100%;
        bottom: -90%;
    }
}

@keyframes progress2 {
    0% {
        top: -200%;
        bottom: 100%;
    }

    60% {
        top: 107%;
        bottom: -8%;
    }

    100% {
        top: 107%;
        bottom: -8%;
    }
}


@media only screen and (min-width: 470px) {
    .cell {
        width: 65px;
        height: 65px;
    }

    #progress-bar {
        height: 440px;
    }
}

@media only screen and (min-width: 768px) {
    .field {
        flex-direction: row;
    }

    #info {
        height: 440px;
    }

    a {
        display: flex;
    }

    #about {
        font-size: 26px;
    }

    #description {
        font-size: 15px;
    }

    #keyboard-button {
        display: none;
    }
}

@media only screen and (min-width: 1200px) {
    #keyboard {
        display: flex;
    }

    .field {
        gap: 100px;
    }
}